$mainBlue: #4382FF;
$mainYellow: #FFBC09;
$mainBlack: #292b2c;

$direction:ltr;


$font-sahel: noto,
Tahoma;


@font-face {
    font-family: noto;
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/NotoSansJP-Thin.otf");
}

@font-face {
    font-family: noto;
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/NotoSansJP-Black.otf");
}

@font-face {
    font-family: noto;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/NotoSansJP-Medium.otf");
}

@font-face {
    font-family: noto;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/NotoSansJP-Regular.otf");
}

@font-face {
    font-family: noto;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/NotoSansJP-Bold.otf");
}



@mixin centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin textStyle {
    font-weight: 300;
    text-transform: uppercase;
}

@mixin toperAbsol($topValue) {
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translate(-50%, -50%);
}

%fullSpace {
    width: 100%;
    height: 100%;
}

%linkFit {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

body {
    direction: $direction;
    text-align: left;
    font-family: "noto";
    font-weight: 500;
    background: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
// =========================== // ===================== // ===================== // ========================= // ==================== //

.form_style3 .form-control {
    border: 0;
}

.form_style1 .form-control, .form_style1 .form-control:focus, .form_style3 .form-control, .form_style3 .form-control:focus {
    border-radius: 40px;
}

.form-control {
    height: 47px;
    padding: 10px 20px;
}