.header {
    &__topMenu {

        background-color: $mainBlue;
        padding: .75rem 0;

        &__wrapper {
            display: flex;
            align-items: center;
        }

        &__number {
            display: flex;

            a {
                color: #fff;
                font-size: .9rem;
                font-weight: 200;
                margin: 0 .5rem 0 .5rem;
            }
        }
    }

    &__socialMedias {
        margin-left: auto;

        li {
            display: inline-block;
            margin: 0 .5rem;

            &:last-child {
                margin-right: 1rem;
            }

            a {
                color: #fff;
                font-size: .9rem;
                transition: .3s ease all;

                &:hover {
                    color: $mainYellow
                }
            }
        }
    }

    &__btn--login {
        display: inline-block;
        color: #fff;
        padding: 0 1rem;
        border-left: 2px solid #fff;
        transition: .3s ease all;

        &:hover {
            color: $mainYellow;
        }
    }

    .nav-item .nav-link {
        color: $mainBlack;
        font-weight: 700;
    }

    .nav-item:first-child .nav-link,
    &__navItem--active {
        color: $mainYellow;
    }
}


.searchCourse {
    background-image: url('../img/sharon-mccutcheon-O2u6gA2esAI-unsplash.jpg');
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($mainBlue, .6);
        opacity: .2;
        // filter: brightness(.6);
    }

    .searchCourse__titles {
        text-align: center;
        z-index: 1;

        h2 {
            z-index: 1;
            color: #fff;
            margin: .5rem 0;
        }

        p {
            color: #fff;
            z-index: 1;
            margin: .5rem 0;
        }

    }

    .custom_select {
        position: relative;
    }

    .custom_select::before {
        content: "\e64b";
        font-family: 'themify';
        position: absolute;
        display: block;
        top: 50%;
        right: 15px;
        font-weight: 900;
        pointer-events: none;
        font-size: 12px;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .custom_select select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid #ced4da;
        border-radius: 4px;
        padding: 5px 30px 5px 20px;
        width: 100%;
    }
}


